@model Shopping.Models.ViewModelCategory
@{
    ViewBag.Title = "New";
}

    <section class="add">
        <h2 class="margin btnstyle formAdd">Edit Accessories</h2>
        @Html.ValidationSummary(true, "Please Fix The Following Erorrs.", new { @class = "center" })
        @using (Html.BeginForm("SaveEdit", "Accessories", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label for="Name">Photo</label>
                <input type="file" class="form-control" name="file" />
                @Html.ValidationMessageFor(m => m.accessories.photo)
            </div>

            <div class="form-group">
                <label for="Email">Old Price</label> $
                @Html.TextBoxFor(c => c.accessories.oldPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.accessories.oldPrice)
            </div>

            <div class="form-group">
                <label for="phone">New Price $</label>
                @Html.TextBoxFor(c => c.accessories.newPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.accessories.newPrice)
            </div>

            <div class="form-group">
                <label for="Location">Description</label>
                @Html.TextBoxFor(c => c.accessories.description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.accessories.description, "Description field is required, It Should Contain The Color Of Category")
            </div>

            <div class="form-group">
                @Html.RadioButton("ch", "A", Model.accessories.Access, new { @class = "radion" })
                <label for="Bag" class="radion">Accessories</label>
                @Html.RadioButton("ch", "B", Model.accessories.Bag, new { @class = "radion" })
                <label for="Access" class="radion">Bag</label>
                @Html.RadioButton("ch", "W", Model.accessories.Watch, new { @class = "radion" })
                <label for="Watch" class="radion">Watches</label>
            </div>


            @Html.HiddenFor(m => m.accessories.id);
            <div>
                <button type="submit" class="btn">Edit</button>
                | @Html.ActionLink("Back", "Accessories", "Accessories", new { @class = "btn" })
            </div>
        }
    </section>
