@model Shopping.Models.suits

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="add cart">
    <h2 class="text-center margin btnstyle formAdd">Delete</h2>

    <h3 class="text-center">Are you sure you want to delete this Suit?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label>Photo:</label>
            </dt>

            <dd>
                <img src=~/uploadFiles/@Model.photo style="width:200px;height:200px">
            </dd>

            <dt>
                <label>Old Price:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.oldPrice)$
            </dd>

            <dt>
                <label>New Price:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.newPrice)$
            </dd>

            <dt>
                <label>Description:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back", "suits", "Suits", new { @class = "btn" })
            </div>
        }
    </div>
</section>