@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Shopping.Controllers.ContactUs>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/contact.css" rel="stylesheet" />
<div class="container">
    <h2 class="margin btnstyle formAdd" style="margin-bottom:30px">Messages</h2>
    <table class="table  tab-content table-bordered table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Message)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }

    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
